@model TravelWeb.Models.Tour
@{
    ViewBag.Title = "TravelTogether";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" container">
    <div class="row">
        <div id="GioiThieu">
            <br/>
            <br/>
            <br/>
            <h3>Giới thiệu</h3>
            <p>
                Lời đầu tiên, công ty du lịch Fiditour xin gửi lời chào thân ái đến Quý khách hàng và đối tác. Kính chúc Quý khách hàng và đối tác luôn dồi dào sức khỏe và thành đạt.
                Được thành lập 25/03/1989 với hoạt động kinh doanh ban đầu là tổ chức các chương trình du lịch cho du khách nước ngoài vào tham quan Việt Nam, đến nay trải qua 26 năm xây dựng và phát triển (1989–2015), Fiditour không ngừng lớn mạnh trở thành một trong 10 hãng lữ hành hàng đầu của ngành du lịch Việt Nam. Lĩnh vực kinh doanh ngày càng được mở rộng: kinh doanh du lịch trong và ngoài nước, cung cấp vé máy bay, quản lý khách sạn, nhà hàng, văn phòng cho thuê, tổ chức sự kiện (MICE), Du học, Đào tạo.v.v… Fiditour cũng đã xây dựng được một hệ thống chi nhánh ở Hà Nội, Đà Nẵng, Tp. Hồ Chí Minh và Cần Thơ và mạng lưới đại lý ở nhiều tỉnh thành của cả nước.
                Với phương châm “Không ngừng đổi mới” cùng chính sách đa dạng hóa sản phẩm và bảo đảm thực hiện đúng những cam kết của mình, Fiditour đã định vị trong lòng đối tác và khách hàng là thương hiệu hàng đầu về chất lượng và phong cách phục vụ chuyên nghiệp.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <br />
        <br />
        <br />
        <div id="TroGiup">
            <strong>Vì sao chúng tôi phải thanh toán qua Webdulich mà không thanh toán trực tiếp tại khách sạn?</strong>
            <p>
                Nếu quý khách thanh toán tại khách sạn sẽ phải thanh toán theo giá niêm yết bán cho khách lẻ (đây là qui định giữa khách sạn và cty du lịch). Do đó sự khác biệt giữa đặt phòng qua Webdulich và đặt trực tiếp là: giá rẻ hơn, chắc chắn có phòng trước khi đi, tránh tình trạng tăng giá vô tội vạ vào mùa cao điểm, có đơn vị thứ 3 đứng ra để bảo đảm cho mình khi nhận phòng. Tuy nhiên điều kiện hủy phòng sẽ chặt chẽ hơn, giống như các bạn mua vé máy bay giá rẻ sẽ có các điều kiện về hủy – đổi vé khác so với mua vé bình thường.

                Nam tran (17-02-2014)
            </p>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <br />
        <br />
        <br />
        <div id="LienHe">

            @Html.Action("LienHe","Home")
        </div>

        
    </div>
</div>
<br />
<br />
<br />
