@model List<TravelWeb.Models.Tour>
@{
    ViewBag.Title = "Du lịch đất mẹ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content">
    <div class="container no-padding">
        <div class="row">
            <!-- Carousel Slideshow -->
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <!-- Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example" data-slide-to="2" class=""></li>
                </ol>
                <div class="clearfix"></div>
                <!-- End Carousel Indicators -->
                <!-- Carousel Images -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://hangenhotel.com/uploads/slider/7.jpg ">
                    </div>
                    <div class="item">
                        <img src="http://hangenhotel.com/uploads/slider/6.jpg">
                    </div>
                    <div class="item">
                        <img src="http://hangenhotel.com/uploads/slider/4.jpg">
                    </div>
                    <div class="item">
                        <img src="http://vn.tisainter.com/wp-content/uploads/2015/07/The_Twelve_Apostles_Victoria_Australia_2006-1080x300.jpg">
                    </div>
                </div>
                <!-- End Carousel Images -->
                <!-- Carousel Controls -->
                <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <!-- End Carousel Controls -->
            </div>
            <!-- End Carousel Slideshow -->
        </div>
    </div>
    <div class="container background-gray-lighter">
        <div class="row margin-vert-40">
            <div class="col-md-4">
                <div class="col-md-4">
                    <i class="fa-clock-o fa-5x color-primary"></i>
                </div>
                <div class="col-md-8">
                    <h2 class="margin-top-5 margin-bottom-0"><font color="red">24/7</font></h2>
                    <p color="green">HỖ TRỢ MỌI LÚC</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4">
                    <i class="fa-tachometer fa-5x color-primary"></i>
                </div>
                <div class="col-md-8">
                    <font color="blue">
                        <h2 class="margin-top-5 margin-bottom-0"><font color="red">@Model.Count()</font></h2>
                        <p>TOUR ĐÃ THÀNH CÔNG!</p>
                    </font>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4">
                    <i class="fa-users fa-5x color-primary"></i>
                </div>
                <div class="col-md-8">
                    <font color="SaddleBrown">
                        <h2 class="margin-top-5 margin-bottom-0"><font color="red">@ViewBag.user</font></h2>
                    <p>THÀNH VIÊN ĐÃ THAM GIA</p>
                </font>
            </div>
            </div>
        </div>
    </div>
    <div class="container background-white">
        <div class="row margin-vert-30">
            <font color="red" size="6"><marquee>Những Khoảng khắc được chia sẻ từ thành viên web...!</marquee></font> 
        </div>
    </div>
    <div class="container background-gray-lighter">
        <div class="row padding-vert-20">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <!-- Portfolio -->
                <ul class="portfolio-group" style="position: relative; width: 826.656px; height: 1228.22px;">
                    <!-- Portfolio Item -->
                    <li class="portfolio-item col-sm-6 col-xs-6 padding-20" style="position: absolute; left: 0px; top: 0px;">
                        <a href="#">
                            <figure class="animate fadeInLeft animated">
                                <img alt="image1" src="https://atoztravel.vn/wp-content/uploads/2016/03/geographical-location-7081.jpg" width="380" height="220">
                                <figcaption>
                                    <h3>Tour 4 ngày Vũng Tàu</h3>
                                    <span>Tour du lịch bãi sau vũng tàu trong vòng 4 ngày của thành viên web</span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <li class="portfolio-item col-sm-6 col-xs-6 padding-20" style="position: absolute; left: 413px; top: 0px;">
                        <a href="#">
                            <figure class="animate fadeInRight animated">
                                <img alt="image2" src="http://media.dulich24.com.vn/bai-viet/tu-van-du-lich-binh-thuan-25033355/tu-van-du-lich-binh-thuan.jpg" width="380" height="220">
                                <figcaption>
                                    <h3>Tour 2 ngày Bình Thuận</h3>
                                    <span>Tour du lịch Bình Thuận trong vòng 2 ngày của thành viên web</span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <li class="portfolio-item col-sm-6 col-xs-6 padding-20" style="position: absolute;left: 0px; top: 413px;">
                        <a href="#">
                            <figure class="animate fadeInRight animated">
                                <img alt="image2" src="http://www.vamvo.com/desktopmodules/MultiMediaGalleryPro/ThumbnailImage.aspx?FileName=C%3A%5CInetpub%5Cvhosts%5Cvamvo.com%5Chttpdocs%5CPortals%5C0%5Chinhb%5Cvietnam-travel%5Ctay-ninh%5Cnui-ba-den%5Cnui-ba-den-11.jpg&width=700&portalID=0&mid=1024" width="380" height="220">
                                <figcaption>
                                    <h3>Tour 5 ngày Tại Tây Ninh</h3>
                                    <span>Tour du lịch 5 ngày núi Bà Đen tại Tây Ninh của thành viên web</span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <li class="portfolio-item col-sm-6 col-xs-6 padding-20" style="position: absolute; left: 413px; top: 413px;">
                        <a href="#">
                            <figure class="animate fadeInRight animated">
                                <img alt="image2" src="http://dulichmocchau.org/view/at_thac-dai-yem_1e11462ac9079b2ee2e633e20110238a.jpg" width="380" height="220">
                                <figcaption>
                                    <h3>Tour 5 ngày tại Sơn LA</h3>
                                    <span>Tour du lịch Núi Bà Đen tại Sơn La trong vòng 5 ngày của thành viên web</span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- //Portfolio Item// -->
                   
                </ul>
                <!-- End Portfolio -->
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <div class="container background-white">
        <div class="row padding-vert-40">
            <div class="col-md-12">
                <h2 class="animate fadeIn text-center animated">Nếu Thích Hãy Đi!</h2>
                <p class="animate fadeIn text-center animated">dù bạn là ai, chỉ cần bạn thích du lịch, hãy đến với chúng tôi!  </p>
               
            </div>
        </div>
    </div>
</div>