@model TravelWeb.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    #pre-header {
        display: none;
    }

    #post_header {
        display: none;
    }
</style>

<!-- === BEGIN CONTENT === -->
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Register Box -->
            <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
                <form class="signup-page" action="/Account/Register" method="post">
                    @Html.AntiForgeryToken()
                    <div class="signup-header">

                        <h2>Đăng ký thành viên </h2>
                        <p>
                            Bạn là thành viên? Click
                            <a href="@Url.Action("Login","Account")">VÀO ĐÂY</a>để đăng nhập.
                        </p>
                    </div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <label>Họ tên</label>
                    <input class="form-control margin-bottom-20" type="text" name="HoTen" />

                    <label>Biệt danh</label>
                    <input class="form-control margin-bottom-20" type="text" name="BietDanh" />


                    <label>Email</label>
                    <input class="form-control margin-bottom-20" type="text" name="Email" />

                    <label>Mật khẩu</label>
                    <input class="form-control margin-bottom-20" type="password" name="Password" />

                    <label>Nhập lại</label>
                    <input class="form-control margin-bottom-20" type="password" name="ConfirmPassword" />

                    <label>Ngày sinh</label>
                    <input class="form-control margin-bottom-20" type="date" name="NgaySinh" />
                    <br />
                    Giới tính:  <input type="radio" name="GioiTinh" value="Nam" /><label>Nam</label>
                        <input type="radio" name="GioiTinh" value="Nữ" /><label>Nữ</label>
                    <br />
                    <input type="radio" name="Quyen" value="true" /><label>Nhà liên kết</label>
                    <input type="radio" name="Quyen" value="false" style="margin-left:30px" /><label>Khách hàng</label>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 text-right">
                            <button class="btn btn-primary" type="submit">Đăng ký</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Register Box -->
        </div>
    </div>
</div>
<!-- === END CONTENT === -->
<!-- === BEGIN FOOTER === -->
